.dropdownSearch {
    position: absolute;
    width: 320px;
    height: 517px;
    top: 0;
    left: 0;
    padding: 50px 15px 15px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 12%);
    box-sizing: border-box;

    h3 {
      padding-left: 16px;
    }
}