.dropdownSearchItem {
    width: 300px;
    height: 48px;
    padding: 8px 0px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: .3s ease-in-out;

    &:hover {
        background-color: #f0f2f5;
        cursor: pointer;
    }
    &__picture {
        height: 36px;
        width: 36px;
        padding: 0px 15px 0 5px;

        img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
        }
    }
}