@mixin flex-layout($display: flex, $direction: row, $justify: stretch, $align: stretch){
    @if ($display == 'flex-column'){
        display: flex;
        flex-direction: column;
    } @else if ($display == 'flex-center'){
        display: flex;
        justify-content: center;
        align-items: center;
    } @else if ($display == 'flex-center-colmun'){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } @else if ($display == 'flex-center-vert'){
        display: flex;
        align-items: center;
    } @else {
        display: $display;
        flex-direction: $direction;
        justify-content: $justify;
        align-items: $align;
    }
}

@mixin box($width, $height: $width){
    width: $width;
    height: $height;
}

@mixin button($type: reset){
    @if ($type == 'reset'){
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}