@import '../utilities/mixins';

.navbar {
    @include flex-layout("flex-center-vert");
    justify-content: space-between;
    height: 54px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
    z-index: 1;

    &__fbLogo {
        @include flex-layout("flex-center");
        @include box(40px);
        @include button();
        transition: .1s ease;

        svg {
            @include box(100%);
            border-radius: 50%;
            color: #0d74f3;
        }

        &--hidden {
            position: absolute;
            opacity: 0;
        }
    }

    &__arrow {
        @include button();
        transform: translateX(4px);
        transition: .2s ease;

        &--hidden {
            opacity: 0;
            transform: translateX(0);
            position: absolute;
        }
        svg {
            font-size: 16px;
        }
    }

    &__search {
        @include flex-layout("flex-center-vert");
        width: 360px;
        padding: 0 16px;
        z-index: 1;

        &__content {
            @include flex-layout("flex-center-vert");
            @include box(240px, 40px);
            margin-left: 11px;
            background: #F0F2F5;
            border-radius: 24px;
            font-size: 0.9rem;
            color: rgb(51, 51, 51);
        }
        &-input {
            width: 100%;
            font-size: 0.9rem;
            padding: 12px 8px;
            border: none;
            outline: none;
            background: none;

            &::placeholder {
                font-size: .9rem
            }
        }

        &-icon {
            @include box(26px);
            padding-left: 10px;
            color: #76787D;
            transition: .2s ease-out;

            &--hidden {
                padding: 0;
                opacity: 0;
            }
        }
    }
    
    &__navigation {
        @include flex-layout("flex-center");
        @include box(130px, 56px);
        @include button();
        border-bottom: 3.5px solid #1877f2;

        svg {
            @include box(27px);
            color: #1877f2;
        }
    }

    &__actions {
        @include flex-layout("flex-center-vert");
        @include box(184px, 100%);
        justify-content: space-evenly;

        &-btn {
            @include flex-layout("flex-center");
            @include box(40px);
            @include button();
            border-radius: 50%;
            background-color: #D8DADF;
            transition: .2s ease;

            &:hover {
                background-color: #cacaca;
            }

            svg {
                @include box(18px);
            }
        }
    }
}
